.head-nav {
  background-color: #333333;
  box-shadow: 0px 4px 4px 0px #00000017;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 12vh;
  z-index: 1;

  font-weight: 700;
  font-size: 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 0 30px;

}

.head-left>div:first-child {
  font-weight: 400;
  font-size: 15px;
  margin-bottom: -8px;
}

.head-pfp {
  width: 5.5vh;
  aspect-ratio: 1/1;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 20px;
}

.head-right {
  display: flex;
  gap: 45px;
}

.icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.icons>a {
  text-decoration: none;
}
.icons2{
  display: flex;

}
.bell{
  color: white;
  font-size: 28px;
  padding-top: 6px;
}

.head-btn {
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 18px;
  border-radius: 10px;
  background-color: #0f0;
  color: black;
  transition: scale 250ms;
}

.head-btn:hover {
  scale: 1.1;
}

.current-head-btn {
  border: 3px solid white;
  box-shadow: 0px 0px 3px 2px #0004;
}